.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,.05);

  .dropdown.open & {
    display: flex;
  }
}

.dropdown-menu-left {
  left: 0;
}

.dropdown-menu-right {
  right: 0;
}
